<!DOCTYPE html><html>
<head>
<title>MPAshop</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
<div class="header" id="frame-header">
<a href="/" ><img src="images/MPAwritten-logo.png"  id="image-logo"/></a>
</header>
<iframe id="mainFrame" src='#{frameSrc}' ></iframe>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<link href="stylesheets/frame.css" rel="stylesheet">
</html>