<!DOCTYPE html>
<html>
<head>
<title>MPAshop</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link href="stylesheets/style.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Quantico|Roboto:400,900' rel='stylesheet' type='text/css'>
</head>
<body class="women-pink">
<div id="menu-bar"class= "menu span3">
<img id="image-logo"src ="/images/mpa-logo.png"></img>
<p id='slogan'>Shop International</p> 
<ul class ="nav nav-pills nav-stacked span3">
<li><input type="text" id="search-Bar" class="search-query" placeholder="Search For a Store"></li>
<li><img class="search-icon" src='/images/search-icon.png'> </img></li>
<li id='types-women'>WOMEN</li>
<li id='types-men'>MEN</li>
</ul>
<ul class="nav nav-pills nav-stacked span3">
<li><a class="filter" id='all-filter' href="#">ALL</a></li>
<li><a class="filter" href="#">TOPWEAR</a></li>
<li><a class="filter" href="#">FOOTWEAR</a></li>
<li><a class="filter" href="#">OUTERWEAR</a></li>
<li><a class="filter" href="#">BOTTOMWEAR</a></li>
<li><a class="filter" href="#">ACCESSORIES</a></li>
</ul>
</div>
<div class="links " >
<ul id='link-list'>
</ul>
</div>
<div class="adds-bar"></div>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript">var MpaShop = {}; MpaShop.stores = !{JSON.stringify(Stores)}; </script>
<script src="javascripts/mpa-layout.js"></script>
</html>